* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVBAR */
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #148f77;
}

#ms--navbar {
    border-bottom: 0;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-brand:hover {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #1abc9c;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
.navbar-default .navbar-toggle {
    border-color: #1abc9c;
}

.ms--bg-dark {
    background-color: #2c3e50;
    color: white;
}

.ms--bg-light {
    background-color: #1abc9c;
    color: white;
}

.ms--bg-white {
    background-color: white;
    color: #2c3e50;
}
/* START CONTAINER */
.start {
    background-color: #1abc9c;
    padding-top: 80px;
}
.start p {
    padding-bottom: 60px;
}

.start img {
    width: 30%;
    height: auto;
}

.start-bootstrap {
    color: #1f7550;
}

h1, h2 {
    color: white;
}

p {
    color: white;
}

/* PORTFOLIO CONTAINER */
.portfolio {
    background-color: white;
    padding-bottom: 60px;
    padding-top: 60px;
}

.portfolio h2 {
    color: #2c3e50;
}

.portfolio .ms--star span {
    color: #2c3e50;
}

.portfolio .ms--star::before,
.portfolio .ms--star::after {
    background-color: #2c3e50;
}

.portfolio img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    padding-bottom: 30px;
}
/* ABOUT CONTAINER */
.about {
    background-color: #1abc9c;
    padding-bottom: 60px;
    padding-top: 60px;
}

.about p {
    padding-left: 140px;
    padding-right: 140px;
}

.bt-download {
    background-color: #1abc9c;
    border-radius: 5px;
    padding: 16px 28px 16px 28px;
    border: 1px solid white;
    display: inline-block;
}

.about a {
    color: white;
}

.ms--download {
    padding-right: 10px;
}

#name {
    padding-bottom: 40px;
}

#email {
    padding-bottom: 40px;
}

#phone {
    padding-bottom: 40px;
}

#message {
    padding-bottom: 80px;
}

/* CONTACT CONTAINER */
.contact {
    background-color: white;
    padding-top: 60px;
    padding-bottom: 60px;
}

.contact h2 {
    color: black;
}

.contact .ms--star span {
    color: #2c3e50;
    padding-bottom: 30px;
}

.contact .ms--star::before,
.contact .ms--star::after {
    background-color: #2c3e50;
}

.bt-send {
    background-color: #1abc9c;
    border: 0;
    border-radius: 5px;
    padding: 16px 28px 16px 28px;
    color: white;
    margin-left: 140px;
}

.form-control {
    border: 0;
    margin-left: 140px;
    font-size: 15px;
}
/* FOOTER */
footer {
    background-color: #2c3e50;
    color: white;
    padding-top: 45px;
    padding-bottom: 45px;
}

footer h4 {
    padding-bottom: 10px;
}

footer button {
    background-color: #2c3e50;
    color: white;
    border: 2px solid white;
    border-radius: 100%;
    padding: 10px;
    font-size: 20px;
}

.copyright {
    color: white;
    background-color: #1a252f;
    padding-top: 18px;
    padding-bottom: 18px;
}

.copyright p {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

/* ms--star */
.ms--star::before,
.ms--star::after {
    content: '';
    display: inline-block;
    width: 100px;
    height: 3px;
    background-color: white;
    position: relative;
    bottom: 20px;
}

.ms--star {
    margin-bottom: 24px;
}

.ms--star span {
    font-size: 35px;
    padding: 0 15px;
    color: white;
}

/* Media Queries */
@media screen and (min-width: 992px) {
    .about p {
        padding-left: 0px;
        padding-bottom: 0px;
        padding-right: 0px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
}
